# MANIFEST template file to make a distribution tarball

# Package stuff
include ANNOUNCEMENT-4.2.3 CHANGES-4.2.3 COPYING*
include MANIFEST.in GNUmakefile THANKS *.patch

# Documentation
graft Doc
recursive-exclude Doc *cvsignore* *~ doc htdoc htdoc/* WARNINGS

# PyQwt python code
graft qt3lib
recursive-exclude qt3lib *cvsignore* *~

# configure
include configure/configure.py

# examples
graft qt3examples
recursive-exclude qt3examples *.html *.png *.pyc *cvsignore* *~

# support code
graft support
recursive-exclude suppport *cvsignore* *~

# qwt-4.2.0
graft qwt-4.2.0

# sip files
graft sip
recursive-exclude sip *cvsignore* *~

# Local Variables: ***
# mode: sh ***
# End: ***
