# MANIFEST template file to make a distribution tarball

# Package stuff
include ANNOUNCEMENT-4.2.2 CHANGES-4.2.2 COPYING*
include MANIFEST.in GNUmakefile THANKS *.patch *.spec

# Documentation
graft Doc/html/pyqwt

# PyQwt python code
graft qt3lib

# configure
include configure/configure.py

# examples
graft qt3examples
recursive-exclude qt3examples *.html *.png *.pyc *cvsignore* *~

# support code
graft support
recursive-exclude suppport *cvsignore* *~

# qwt-4.2.0
graft qwt-4.2.0
# remove qwt.spec, because it interferes with: rpm -ta PyQwt-4.2.1.tar.gz
recursive-exclude qwt-4.2.0 qwt.spec

# sip files
graft sip
recursive-exclude sip *cvsignore* *~

# Local Variables: ***
# mode: sh ***
# End: ***
